<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> -->
<web-app>

<filter>
	<filter-name>FirstFilter</filter-name>
	<filter-class>com.j2se.code.FirstFilter</filter-class>
</filter>

<filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.j2se.code.EncodingFilter</filter-class>
</filter>

  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.practice.web.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.practice.web.LoginServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginServletService</servlet-name>
    <servlet-class>com.practice.web.LoginServletService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.practice.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <servlet-class>com.practice.web.UploadPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroAddServlet</servlet-name>
    <servlet-class>com.practice.web.HeroAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroDeleteServlet</servlet-name>
    <servlet-class>com.practice.web.HeroDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroEditServlet</servlet-name>
    <servlet-class>com.practice.web.HeroEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroUpdateServlet</servlet-name>
    <servlet-class>com.practice.web.HeroUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroListServlet</servlet-name>
    <servlet-class>com.practice.web.HeroListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>com.practice.web.SubmitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOneServlet</servlet-name>
    <servlet-class>com.practice.web.GetOneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetManyServlet</servlet-name>
    <servlet-class>com.practice.web.GetManyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroEditServletMVC</servlet-name>
    <servlet-class>com.j2se.code.HeroEditServletMVC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroAddServletMVC</servlet-name>
    <servlet-class>com.j2se.code.HeroAddServletMVC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroDeleteServletMVC</servlet-name>
    <servlet-class>com.j2se.code.HeroDeleteServletMVC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroListServletMVC</servlet-name>
    <servlet-class>com.j2se.code.HeroListServletMVC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HeroUpdateServletMVC</servlet-name>
    <servlet-class>com.j2se.code.HeroUpdateServletMVC</servlet-class>
  </servlet>
  
  
  <listener>
  	<!-- <listener-class>com.j2se.code.ContextListener</listener-class> -->
  	<listener-class>com.j2se.code.ContextAttributeListener</listener-class>
  </listener>

	<filter-mapping>
		<filter-name>FirstFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>EncodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServletService</servlet-name>
    <url-pattern>/loginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <url-pattern>/uploadPhoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroAddServlet</servlet-name>
    <url-pattern>/addHero</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroDeleteServlet</servlet-name>
    <url-pattern>/deleteHero</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroEditServlet</servlet-name>
    <url-pattern>/editHero</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroUpdateServlet</servlet-name>
    <url-pattern>/updateHero</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroListServlet</servlet-name>
    <url-pattern>/listHero</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/submitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOneServlet</servlet-name>
    <url-pattern>/getOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetManyServlet</servlet-name>
    <url-pattern>/getManyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroEditServletMVC</servlet-name>
    <url-pattern>/heroEditServletMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroAddServletMVC</servlet-name>
    <url-pattern>/heroAddServletMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroDeleteServletMVC</servlet-name>
    <url-pattern>/heroDeleteServletMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroListServletMVC</servlet-name>
    <url-pattern>/heroListServletMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeroUpdateServletMVC</servlet-name>
    <url-pattern>/heroUpdateServletMVC</url-pattern>
  </servlet-mapping>

</web-app>


